<div class="container">
  <h3>Editing Article</h3>
  <%= render 'form', article: @article %>

  <%= link_to 'Show', @article, class: 'btn btn-warning btn-sm' %>
  <%= link_to 'Back', articles_path, class: 'btn btn-info btn-sm' %>

</div>
