<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Cao Hoai Viet's Blog</h1>
  <h3>This is my first Rails Application for CoderSchool</h3>

  <%= render @articles %>
  <br>

  <%= link_to 'New Article', new_article_path, class: 'btn btn-primary'%>
</div>
