<% if !notice.to_s.empty? then %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
</br>
<h3>Cao Hoai Viet's Blog</h3>
<h4>This is my first Rails Application for CoderSchool</h4>
</br>

<% if @articles.present? %> <%= render @articles %>
  <br>
<% else %>
  <p>There are no title containing the term(s) = <b> <%= params[:search] %>.</b></p>
<% end %>

<%= link_to 'New Article', new_article_path, class: 'btn btn-info'%>
